@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 7%;
        --foreground: 0 0% 98%;
    }
}

@layer base {
    body {
        @apply bg-background
    }
    ::-webkit-scrollbar {
        width: 0;
    }
}